<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <h1>{% block title %} | Flask  {% endblock %}  </h1>
    <ul>
      <li>
        <a href="{{ url_for('index') }}">Inicio</a> 
      </li>
      <li>
        <a href="{{ url_for('informacion') }}">Informacion</a> 
      </li>
      <li>
        <a href="{{ url_for('contacto') }}">Contacto</a> 
      </li>  
      <li>
        <a href="{{ url_for('lenguajes') }}">Lenguajes</a> 
      </li>      
    </ul>
  </nav>
  <div>
    {% block content %}
    {% endblock %}
    {{ textfn }}
  </div>
</body>
</html>